/* Hide scrollbar */
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  display: none;
}
/* Enable smooth scrolling and snap to sections */
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.active-link {
  color: #d97706 !important; /* Tailwind amber-600 */
}

.menu_burger_container {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navbar_mobile {
  transition: transform 0.3s;
  will-change: transform;
}
.navbar_mobile.-translate-x-full {
  transform: translateX(-100%);
}
.navbar_mobile.translate-x-0 {
  transform: translateX(0);
}
.menu_close {
  border: none;
  background: none;
  cursor: pointer;
}